# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
venv/

# Environment
.env
*.env.local

# Node
node_modules/
dist-ssr/

# Django static
staticfiles/

# Docker volumes
postgres_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
